@font-face {
    font-family: kongfont;
    src: url(../fonts/kongtext.ttf);
}
body {
    font-family: kongfont;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}